.edit-todo {
    margin: 50px auto;
    border: 1px solid #eee;
    padding: 50px;
    width: 90vh;
    box-shadow: 1px 1px 3px;
}
button{
    margin: 5px 15px;
}
.save{
    background: teal;
    color: white;
}